<div id="wrapper_search">
	<br>
	<div id="search_bar">
	
	<%= render partial: 'shared/search' %>


	</div>
	<br>
	
	<div id="main_show">
		
		<div id="video">
			<% if !@q.blank? %>
			<div id="video_player">
				<% video = @main[0]  %>
				<%=	"<iframe width='560' height='315' src='//www.youtube.com/embed/#{video[:id]}?rel=0' frameborder='0'></iframe><p>".html_safe %> 			
			</div>
			<div id="start">
				<% video = @main[0]  %>
				<%= link_to 'Click to Take Notes', user_notes_path(current_user, note: { video_url: video[:id], title: video[:title], thumbnail: video[:thumbnail]}), {method: :post} %>
			</div>
				<ul id="vids">
				<%= content_tag :h2, "Click thumbnail below to view videos with '#{@q}':" %>
					<% @main.each do |video| %>
						<li><p><%= image_tag "#{video[:thumbnail_def]}", class: "thumbnail", id: video[:id], data:{id: video[:id], title: video[:title]} %></p><p class="link_note"><%= link_to 'Click to Take Notes', user_notes_path(current_user, note: { video_url: video[:id], title: video[:title], thumbnail: video[:thumbnail]}), {method: :post} %> <% "</p><br><br></li>".html_safe %></p></li> 

					<% end %>
				</ul>
			<% elsif current_user.notes.count > 0 %>
				<div id="enter_search">
					<!-- <h1>Enter a search into the bar above.</h1> -->
					<p><span id="welcome_reveal">need help?</span></p>
					<br>
					
					<br>
					<div id="welcome_partial">
						<%= render partial: 'welcome' %>
					</div>
				</div>
			<% else %>
				<div id="welcome_note">
					<%= render partial: 'welcome' %>
				</div>
			<% end %>
		</div>
	</div>

</div>