<!DOCTYPE html>
<html>
<head>
  <title>Noted</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!--  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'> -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<% if notice %><p id="notice"><%= notice %> <%= content_tag :span, 'x', class: "dismiss" %> </p><% end %>
		    <% if alert %><p id="alert"><%= alert %> <%= content_tag :span, 'x', class: "dismiss" %> </p><% end %>

		<% if current_user %>
			<nav>
				<p id="logo"><%= link_to image_tag('logo_2.png'), search_path %></p>
				<ul id="login">
					<li><p id="welcome"><%= link_to "#{current_user.email}", user_path(current_user) %> |  <%= link_to "log out", destroy_user_session_path, method: "delete" %></p></li>		<li><%= link_to "edit account", edit_user_path(current_user) %>
					</li>
					<li>
						<%= link_to '(create project)', user_projects_path(current_user, project: {title: "new project"}), {method: :post} %>&nbsp
						<%= link_to 'projects', user_projects_path(current_user) %>
					</li>
					<li>
						<%= link_to 'search', search_path %>
					</li>
					<% end %>	
					<br>
				</ul>	
			</nav>

		<%= yield %>

	</body>
</html>
